.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.textBoxInput {
  align-items: center;
  width: 390px;
  height: 25px;
  text-align: center;
}

.textBox {
  text-align: center;
  margin-top: 12px;
}